@import url("./fonts.css");

.main {
  background-color: #0e0e0e;
  background-size: 15px 15px;
  background-image: linear-gradient(to right, #111111 1px, transparent 1px),
    linear-gradient(to bottom, #111111 1px, transparent 1px);
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  user-select: none;
  padding: 40px 400px;
}

.main .welcome {
  display: flex;
  flex-direction: row;
  margin-top: 350px;
  color: #ffffff;
  width: 100%;
  justify-content: space-between;
  animation: slideIn_welcome 1s ease-out;
}

@keyframes slideIn_welcome {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.main .welcome .text {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.main .welcome h1 {
  font-size: 74px;
  font-weight: 800;
}

.main .welcome p {
  color: #9f9f9f;
  font-weight: 300;
  font-size: 20px;
  width: 60%;
}

.main .welcome .buttons {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.main .welcome .buttons .button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: ease 0.2s;
  text-decoration: none;
  color: #ffffff;
  background-color: #b96c353a;
  border: 1.5px solid #b96c35;
  margin-right: 12px;
}

.main .welcome .buttons .button:hover {
  background-color: #b96c3534;
  border: 1.5px solid #b96c35cb;
}

.main .welcome .buttons .button:active {
  background-color: #b96c3523;
  border: 1.5px solid #b96c359c;
}

.main .welcome img {
  width: 30%;
  height: 30%;
  margin-left: 50px;
  border-radius: 6px;
  margin-top: -200px;
  border: 1.5px solid #c5c5c5;
}

.main .demo {
  margin-left: -400px;
  padding: 90px 400px;
  background-color: #000000;
  width: calc(100% + 800px);
  margin-top: 280px;
  transition: ease-out .2s;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main .demo .info h3 {
  color: #ffffff;
  font-weight: 600;
  font-size: 38px;
  margin: 0;
}

.main .demo .info p {
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  margin: 0;
}

.main .demo .info div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  border-radius: 6px;
  padding: 10px 5px;
  background-color: #b96c353a;
  border: 1.5px solid #b96c35;
  width: fit-content;
  height: 46px;
}

.main .demo .info div input {
  background-color: transparent;
  border-radius: 6px;
  border: none;
  outline: none;
  height: 100%;
  font-family: "Poppins", sans-serif;
  padding: 0 30px 0 8px;
  font-size: 17px;
  font-weight: 400;
  color: #ffffff;
}

.main .demo .info div input::placeholder {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #d1d1d1;
}

.main .demo .info div i {
  padding: 5px 5px;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  font-weight: 200;
  border-radius: 100%;
  transition: ease 0.2s;
  margin-right: 5px;
}

.main .demo .info div i:hover {
  background-color: #b96c3559;
  backdrop-filter: blur(1px);
}

.main .demo .response {
  width: 50%;
  min-height: 200px;
  height: fit-content;
  max-height: 600px;
  background-color: #b96c353a;
  border: 1.5px solid #b96c35;
  border-radius: 6px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: auto;
  transition: ease 0.2s;
}

.main .demo .response::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.main .demo .response::-webkit-scrollbar-track {
  opacity: 0;
}

.main .demo .response::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 3px;
  transition: ease 0.2s !important;
}

.main .demo .response::-webkit-scrollbar-thumb:hover {
  background: #9e9e9e;
}

.main .demo .response p {
  color: #e4e4e4;
  font-size: 17px;
  transition: ease 0.2s;
}

.main .demo .response pre {
  margin-top: 10px;
  color: #bbbbbb;
  user-select: text;
  transition: ease 0.2s;
  height: fit-content;
}
