.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 105;
}

.nav .title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav .title img {
  width: 45px;
  height: 45px;
  margin-right: 15px;
}

.nav .title h1 {
  font-size: 21px;
  color: #fff;
  margin-bottom: 5px;
  font-weight: 600;
}

.nav .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
}

.nav .links a {
  font-size: 19px;
  color: #9f9f9f;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  transition: ease 0.2s;
  display: inline-block;
  position: relative;
}

.nav .links a:not(:last-child) {
  margin-right: 25px;
}

.nav .links a.donate {
  color: #dd7930;
  text-shadow: 1px 1px 3px #dd7930;
}

.nav .links a:not(.donate)::after,
.nav__mobile a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 2px;
  left: 0;
  background-color: #acacac;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.nav .links a:hover,
.nav__mobile a:hover {
  color: #8d8d8d;
}

.nav .links a:active,
.nav__mobile a:active {
  color: #777777;
}

.nav .links a:not(.donate):hover::after,
.nav__mobile a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  background-color: #8d8d8d;
}

.nav .links a.donate::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 2px;
  left: 0;
  background-color: #dd7930;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.nav .links a.donate:hover {
  color: #bb672a;
}

.nav .links a.donate:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  background-color: #bb672a;
}

.nav i {
  display: none;
  color: #ffffff;
  font-size: 30px;
}

.nav__mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000;
  z-index: 5;
}

.nav__mobile a {
  font-size: 23px;
  color: #9f9f9f;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  transition: ease 0.2s;
  display: inline-block;
  position: relative;
}

@media screen and (max-width: 800px) {
  .nav .links {
    display: none;
  }

  .nav i {
    display: block;
  }

  .nav {
    position: absolute;
    width: 85%;
  }

  .nav__mobile {
    opacity: 1;
    visibility: visible;
  }
}
