@import url("./fonts.css");

.main {
  background-color: #0e0e0e;
  background-size: 15px 15px;
  background-image: linear-gradient(to right, #111111 1px, transparent 1px),
    linear-gradient(to bottom, #111111 1px, transparent 1px);
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  user-select: none;
  padding: 40px 400px;
}

.main .status {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.main .status .title {
  font-size: 24px;
  margin: 0;
  font-weight: 500;
  padding: 0;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.main .status span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 15px;
  position: relative;
  background-color: #1bc573;
}

.main .status span.offline {
  background-color: #de3a3a;
}

.main .status span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #169b5a;
  box-sizing: border-box;
  left: 0;
  top: 0;
  animation: pulse 2s infinite;
  transform: scale(1.5);
}

.main .status span.offline::after {
  content: unset;
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  50% {
    transform: scale(1.4);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.main .graphs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main .container {
  max-width: 700px;
  padding: 20px;
  margin-top: 15px;
  border: 1.5px solid #b96c35;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #b96c353a;
  width: 50% !important;
  max-width: 48%;
}

.main .container .legend {
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 400;
}

@media screen and (max-width: 2200px) {
  .main .welcome img {
    width: 40%;
    height: 40%;
  }
}

@media screen and (max-width: 2000px) {
  .main {
    padding: 40px 200px;
  }
}

@media screen and (max-width: 1600px) {
  .main {
    padding: 40px 100px;
  }
}

@media screen and (max-width: 1400px) {
  .main {
    padding: 40px 70px;
  }
}

@media screen and (max-width: 1150px) {
  .main .graphs {
    flex-direction: column;
    width: 100%;
  }

  .main .container {
    width: 100% !important;
    max-width: 100%;
  }
}

.boxcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  padding: 10px;
  border-radius: 7px;
  background-color: rgb(24, 24, 24, 0.4);
  border: 1.5px solid #bdbdbd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.box h2 {
  font-size: 20px;
  color: #dfdfdf;
  font-weight: 400;
  margin: 0;
}

.box p {
  font-size: 28px;
  color: #fff;
  font-weight: 500;
  margin: 0;
}

@media screen and (max-width: 1150px) {
  .boxcontainer {
    flex-direction: column;
    width: 100%;
  }

  .box {
    width: 100%;
    margin-bottom: 20px;
  }

}